body {
  font-family: Arial;
  background: #ffeef8;
  padding: 20px;
  color: #7a2c5f;
}

form {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

button {
  background: #ff80c8;
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 8px;
  cursor: pointer;
}

#taskList div {
  background: white;
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  border: 2px solid #ffc9e6;
}
